/*
body {padding: 0px; margin:0px; background:url(../img/image.jpg) ; background-position: center; background-size: cover; background-attachment: fixed; background-repeat: no-repeat;}
*/
#header {
    background-color:black;
    height:30px;
    color:white;
    text-align:center;
    padding:5px;
    font-size:150%;
    margin: 0 auto;
}
/*          标题栏          */
#subpage-link {
    position: absolute;
    left: 10%;
    color: black; /* 默认颜色 */
    text-decoration: none; /* 去掉下划线 */
}
#subpage-link:hover {
    color: lightblue; /* 滑过时的颜色 */
}

#nav {
    line-height:30px;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}

/*         轮播           */
/* 固定每个 list 项的大小 */
/* 确保 #list0, #list1 和 #list2 保持一行 */
#list-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#list0, #list1, #list2 {
    width: 270px; /* 固定宽度 */
    height: 360px; /* 固定高度 */
    margin: 10px;
}

#list2 {
    margin-left: 50px; /* 给右侧留出空间 */
}

#hutao {
    height:600px;
    width:400px;
    float:left;
    margin-top:10px;
	margin-left:50px;	      
}

#end {
    color:rgb(0, 0, 0);
    text-align:center;
    padding:5px;
    font-size:150%;
    margin: 0 auto;
}