* {
	padding:0;
	margin:0;
}
.box {
	width:1000px;
	height:600px;
	margin-top:10px;
	margin-left:0px;
	position:relative;
	overflow:hidden;
	float:left;
	flex: 1; /* 让轮播图占据可用空间 */
}
li {
	list-style:none;
	width:100%;
	height:600px;
}
img {
	width:100%;
	height:100%;
	vertical-align:top;
}
.swiper {
	width:500%;
	height:600px;
	position:absolute;
	left:0;
	top:0;
}
.swiper li {
	width:20%;
	float:left;
}
.swiper li img {
	width:100%;
}
.dot {
	position:absolute;
	display:flex;
	right:50%;
	bottom:0;
	transform:translate(50%,0);
	margin-bottom:8px;
}
.dot li {
	width:15px;
	height:15px;
	border-radius:50%;
	background-color:#fff;
	margin-right:5px;
}
.dot .active {
	background-color:burlywood;
}
.left,.right {
	font-family: "宋体";
	width:60px;
	height:60px;
	background-color:rgba(0,0,0,0.6);
	position:absolute;
	top:50%;
	transform:translate(0,-50%);
	color:yellowgreen;
	font-size:50px;
	text-align:center;
	line-height:60px;
	cursor:pointer;
}
.right {
	right:0;
}